<section id='event-dashboard'>
  <section class='introduction-section-dashboard'>
    <article class='introduction-article-event'>

      <div class='topButtons'>
        <button class='dashboardButton'>
          <i class='fas fa-chevron-left'></i>
          Dashboard
        </button>
      </div>

      <div id='title-container'>
        <h1>Events Dashboard</h1>
      </div>

      <div class='newItemContainer'>
        <button class='newItemButton' id="'newEventButton">New Event</button>
      </div>

      <div id='event-list'>

        {{#if events.length}}

          <!-- Loop over each object in the events array -->

          {{#each events as |event|}}

            <div class='dashboard-card'>

              <div class='dashboard-card-header'>

                <div class='dashboard-card-header-media'>

                  <div class='dashboard-card-header-title'>

                    <h4>{{event.title}}</h4>

                  </div>

                  <div class='dashboard-card-header-cta-group'>

                    <button class='delete-button' id='delete-button-event-card'>
                      <img
                        class='dashboard-card-header-cta'
                        src='/assets/images/Trash-Can.svg'
                        data-id='{{event.id}}'
                      />
                    </button>

                    <button class='check-button' id='check-button-event-card'>
                      <img
                        class='dashboard-card-header-cta'
                        src='/assets/images/View.svg'
                        data-id='{{event.id}}'
                      />
                    </button>

                    <button class='check-button' id='edit-button-event-card'>
                      <img
                        class='dashboard-card-header-cta'
                        src='/assets/images/Edit.svg'
                        data-id='{{event.id}}'
                      />
                    </button>

                  </div>

                </div>

              </div>

              <p class='event-type-text'>{{event.type}}</p>

              <div class='dashboard-card-footer'>

                <p class='event-date-text'>{{event.start_date}}</p>
                <p class='event-date-text'>{{event.end_date}}</p>

              </div>

            </div>

          {{/each}}

        {{/if}}

      </div>

    </article>
  </section>


</section>

<script src='/assets/js/dashboard.js'></script>